{% extends 'layout.njk' %}

{%block content%}
  <div class="card table-container">

		<div class="header">
			<a class='button' href="/instructors/create">Novo</a>
			<form action="/instructors" method='GET'>
			<input type="text" name="filter" placeholder='Filtrar por nome'>
			<button type='submit'>Filtrar</button>
			</form>
		</div>
		<table width='100%'>
			<thead>
				<tr>
					<th>
						Instructor
					</th>
					<th>
						Atendimento
					</th>
					<th>
						Ação
					</th>
				</tr>
			</thead>
			<tbody>
				{% for instructor in instructors %}
				<tr>
					<td>
						<span style="background-image: url({{instructor.avatar_url}})"></span>
					</td>
					<td>{{instructor.name}}</td>
					<td>{{instructor.services}}</td>
					<td><a href="/instructors/{{instructor.id}}">Ver</a></td>

				</tr>
				{% endfor %}
			</tbody>
		</table>
  </div>
  {%endblock%}
